body {
            font-family: Arial, sans-serif;
            background-color: #FFD445 !important;
            /* Amarelo */
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Container do formulário de login */
        .login-container {
            background-color: white;
            width: 100%;
            max-width: 400px;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        /* Logo */
        .logo {
            margin-bottom: 20px;
        }

        .logo img {
            width: 200px;
        }

        .input-field {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #d1d1d1;
            font-size: 14px;
        }

        .login-btn {
            width: 100%;
            padding: 12px;
            background-color: #F4A22D;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .login-btn:hover {
            background-color: #7a1d4a;
        }

        .forgot-password {
            font-size: 14px;
            color: #F4A22D;
            text-decoration: none;
        }

        .forgot-password:hover {
            text-decoration: underline;
        }

        /* Texto para inscrição */
        .signup-text {
            margin-top: 20px;
            font-size: 14px;
        }

        .signup-text a {
            color: #F4A22D;
            text-decoration: none;
        }

        .signup-text a:hover {
            text-decoration: underline;
        }

        /* Estilo para os botões de redes sociais */
        .social-buttons {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .social-buttons a {
            margin: 0 10px;
        }

        .social-buttons img {
            width: 35px;
            /* Tamanho dos ícones das redes sociais */
        }