body {
      background-color: #FFD445 !important; /* Amarelo */
      font-family: Arial, sans-serif;
    }

    .caro {
        width: 300px;
    }

    .navbar {
      background-color: #FFD445;
    }

    .navbar-brand {
      font-weight: bold;
      color: black !important;
    }

    .search-bar {
      flex-grow: 1;
      max-width: 400px;
    }

    .card img {
      border-radius: 8px;
      
    }

    footer {
      background-color: #E9D3B2;
      text-align: center;
      padding: 20px;
      font-weight: bold;
    }

    .card {
    height: 100%;
  }

  .card img {
    height: 200px; /* altura fixa das imagens */
    object-fit: cover; /* mantém proporção e corta o excesso */
  }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}